/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Paragraf stil ayarları */
p {
    text-indent: 2em;
    padding: 20px;
    margin: 20px auto;
    width: 65%; 
    text-align: justify;
}

/* Başlık stilleri */
header {
    background: #333 130px;
    color: #fff;
    padding: 1px;
    text-align: center;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

header h1 {
    padding: 5px;
    margin: 0;
}

/* Navigasyon menüsü */
nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Navbar Tasarımı */
.navbar {
    background-color: #ff2800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap; 
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
}

.nav-item.active a {
    color: rgb(255, 242, 0);
    font-weight: bold;
}

.nav-item a:hover {
    color: rgb(230, 219, 15);
}

/* Ekran küçültmeleri için ek ayarlar */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column; 
        gap: 10px;
        align-items: center;
    }

    .nav-item a {
        font-size: 18px;
    }
}

/* Tablo stilleri */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #333;
    color: #fff;
}

/* Alt yazı */
figure {
    text-align: center;
    margin: 20px 0;
}

figure figcaption {
    font-style: italic;
    margin-top: 10px;
}

/* Şampiyon Sürücüler İçin Ek Ögeler */
.driver {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 80%; 
    background-color: #f9f9f9;
    text-align: justify; 
    line-height: 1.6; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
}

.driver h2 {
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.driver img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

/* Footer stilleri */
footer {
    background: #333333ea;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

